<!-- hard code user for now: -->

<% user = User.find(1) %>

    <!-- Get elements from database: -->
<% elements = Venue.all %>


    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

<!-- Generate a carousel with all elements: -->

<% elements.each_with_index do |element, index|  %>
  <div class="item <%= " active" if index == 0 %>">
    <%= image_tag(element.image, :width => "100%") %>
    <div class="container">
      <div class="carousel-caption">
        <h1><%= element.name %></h1>
        <p class="lead">Rental Cost: $<%= element.rental_cost %></p>
        <p class="lead">Cost Per Plate: $<%= element.cost_per_plate %></p>
        <p><%= element.description %></p> 
        <%= link_to("Add to Budget", user_path(user, "user[venue]" => element.id), :class => "btn btn-large btn-primary", :method => :put ) %>

      </div>
    </div>
  </div>
<% end %>



      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
