<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="canvasstylesheet.css" />
		<title>My Photo Page</title>
	</head>
	<body>
        <table>
            <thead>
                <th colspan="3"><h1>Your Wedding Canvas<h1></th>
            </thead>
            <tablebody>
                <tr>
                    <td><%= image_tag("barn.jpg") %></td></a>
                    <td><%= image_tag("spudbar.jpg") %></td></a>
                     <td><%= image_tag("Flowers.jpg") %></td></a>
                </tr>    
                <tr>
                    <td><%= image_tag("dj.jpg") %></td>
                    <td><%= image_tag("photographer.jpg") %></td>
                    <td><%= image_tag("guestlist.jpg") %></td>
                    
                </tr>    
                
                </tr>    
            </tablebody>
        </table>  

        <% Budget.create(venue: "Barn", venue_price: "6000", food: "Gourmet", food_price: "4000")  %>
        <%= Budget.find(1).venue %>
        <%= Budget.find(1).venue_price %>
        <%= Budget.find(1).food %>
        <%= Budget.find(1).food_price %>
	</body>
</html>