
<!-- hard code user for now: -->

<% user = user_path(1) %>

    <!-- Get elements from database: -->
<% elements = Element.find_all_by_category(@category) %>


    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

<!-- Generate a carousel with all elements: -->

<% elements.each_with_index do |element, index|  %>
  <div class="item <%= " active" if index == 0 %>">
    <%= image_tag(element.image, :width => "100%") %>
    <div class="container">
      <div class="carousel-caption">
        <h1><%= element.name %></h1>
        <p class="lead">$<%= element.fixed_cost %></p>
        
        <%= link_to("Add to Budget", user_path(user, "user[venue]" => element.id), :class => "btn btn-large btn-primary", :method => :put )  if @category == "Venue" %>
        <%= link_to("Add to Budget", user_path(user, "user[food]" => element.id), :class => "btn btn-large btn-primary", :method => :put )  if @category == "Food" %>
        <%= link_to("Add to Budget", user_path(user, "user[flowers]" => element.id), :class => "btn btn-large btn-primary", :method => :put )  if @category == "Flowers" %>
        <%= link_to("Add to Budget", user_path(user, "user[entertainment]" => element.id), :class => "btn btn-large btn-primary", :method => :put )  if @category == "Entertainment" %>
        <%= link_to("Add to Budget", user_path(user, "user[photographer]" => element.id), :class => "btn btn-large btn-primary", :method => :put )  if @category == "Photographer" %>
        <%= link_to("Add to Budget", user_path(user, "user[dress]" => element.id), :class => "btn btn-large btn-primary", :method => :put )  if @category == "Dress" %>


      </div>
    </div>
  </div>
<% end %>



      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
