<!-- hard code user for now: -->

<% user = user_path(1) %>

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("buffet.jpg", :width => "100%") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Traditional Buffet</h1>
          <p class="lead">$5,000 - $7,000</p>
          <%= link_to("Add to Budget", user_path(user, "user[food_price]" => "7000", "user[food]" => "Buffet"), :class => "btn btn-large btn-primary", :method => :put ) %>
        </div>
      </div>
    </div>
    <div class="item">
     <%= image_tag("foodstation.jpg", :width => "100%") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Food Stations</h1>
          <p class="lead">$4,500 - $7,500</p>
          <%= link_to("Add to Budget", user_path(user, "user[food_price]" => "7500", "user[food]" => "Food Station"), :class => "btn btn-large btn-primary", :method => :put ) %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("sitdowndinner.jpg", :width => "100%") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Sit Down Dinner</h1>
          <p class="lead">$8,500 - $9,900</p>
          <%= link_to("Add to Budget", user_path(user, "user[food_price]" => "9900", "user[food]" => "Sit Down Dinner"), :class => "btn btn-large btn-primary", :method => :put ) %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("apps.jpg", :width => "100%") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Appetizers</h1>
          <p class="lead">$2,500 - $3,500</p>
          <%= link_to("Add to Budget", user_path(user, "user[food_price]" => "3500", "user[food]" => "Appetizers"), :class => "btn btn-large btn-primary", :method => :put ) %>
        </div>
      </div>
    </div>
   



  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
