%center
	%h1 What We Offer
	%h4 Wedloom's wedding coaches can help you save time, reduce stress and make smart choices that save you money. Everyone is different, so your package will be custom-tailored to meet your needs.  
	%h4 Ready to get started?
	%button.btn.btn-info.btn-large{"data-appointlet" => "joshjacobson"} Schedule a free consultation
%hr


%center
	%h3 Here are some specific areas we can help you with.
%center
	.row-fluid
		.span2.well.option#option1
			= image_tag "icons/housesearch.svg"
			%br
			%br
			%p Vendor Recommendations
		.span2.well.option#option2
			= image_tag "icons/pricetag.svg"
			%br
			%br
			%p Pricing and Availability
		.span2.well.option#option3
			= image_tag "icons/document.svg"
			%br
			%br
			%p Contract Review
		.span2.well.option#option4
			= image_tag "icons/ideabulb.svg"
			%br
			%br
			%p Actionable Inspiration
		.span2.well.option#option5
			= image_tag "icons/moneybag.svg"
			%br
			%br
			%p Budget Guidance	
		.span2.well.option#option6
			= image_tag "icons/checklist.svg"
			%br
			%br
			%p Timline Planning

.row-fluid
	.span1
	.span10.well
		%h3#explanation Wedloom coaches can provide personalized recommendations for venues, photographers, caterers and florists in the Chicago area based off your style and budget. We’ve worked with dozens of vendors and can give you advice you can’t find on Yelp.
	.span1

:css
	.option:hover {
		background-color: #fff;
		-moz-box-shadow: 0 0 12px 3px #b0b2ab;
		-webkit-box-shadow: 0 0 12px 3px #b0b2ab;
		box-shadow: 0 0 12px 3px #b0b2ab;
	}

.row-fluid
	.span3
		= image_tag "carlene/wedloom-profile.png", :width => "300"
	.span8.well
		%p.text-info.lead
			Kristen worked with Wedloom to plan her wedding in 6 months in Chicago. Wedloom's expert planners helped her: 
		%p
			%strong Stay on track.
			Kristen worked with Carlene to create a timeline personalized for her wedding date and met with Carlene to make sure everything was ready for the big day.
		%p
			%strong Find vendors. 
			Given Kristen was planning a wedding in Chicago where some vendors book up over a year in advance, she worked with Carlene to find the perfect spot for her wedding. 
		%p 
			%strong Ask specific questions.
			Kristen was the first in her family of 3 sisters to plan her wedding, so she had many questions typical of a first-time bride that Carlene was able to provide guidance every step of the way!