<!DOCTYPE html>
	<head>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>

  </head>

	<body>
   
      <%= image_tag("couple3.jpg", :width => "100%") %>
      
      </br>
        <center><h1> Wedloom helps you find local wedding vendors that fit your style and budget. 
        </h1></center>
      </br>
 
    <center><%= button_to 'Learn More', inspiration_path, :class => 'btn btn-large btn-primary' %></center>
  
      <!--  <center><h3>Recently engaged? Congrats! Wedloom will help you figure out one of the hardest parts of planning a wedding: the budget. Browse through different options and their estimated price ranges so you can better understand the tradeoffs to stay within your budget.</h3></center> -->
      </br>
      </br>
      
        
        <!-- <center><%= image_tag("homestrip.png", :width => "100%") %></center> -->
  
      <ul class="thumbnails", >
      
      <li class="span4">
        <!-- <div class="thumbnail", border:none;> -->
          <center>
            <%= image_tag("lightbulb.svg", :width => "20%") %>
            <h3>Get inspired</h3>
            <p>Browse pictures to get ideas and create a vision for your dream wedding</p>
            <%= link_to 'Learn More', inspiration_path %>
          </center>
       <!--  </div> -->
      </li>
    
      <li class="span4">
        <!-- <div class="thumbnail"> -->
        <center>
          <%= image_tag("moneybag.svg", :width => "20%") %>
          <h3>Stay within budget</h3>
          <p>View price information from real weddings to help you figure out what’s within reach</p>
          <%= link_to 'Learn More', inspiration_path %>
        </center>
       <!--  </div> -->
      </li>
      
      <li class="span4">
        <!-- <div class="thumbnail"> -->
          <center>
            <%= image_tag("pindrop.svg", :width => "20%") %>
            <h3>Find local options</h3>
            <p>Find real venues, photographers, florists, etc. in your area so you can start making it happen</p>
            <%= link_to 'Learn More', inspiration_path %>
          </center>
       <!--  </div> -->
      </li>
    
    </ul>
   

        <hr>

</body>

   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38554213-1']);
  _gaq.push(['_setDomainName', 'wedloom.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
     
  </html>