<!DOCTYPE html>
	<head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>
    <script src="//cdn.optimizely.com/js/214010495.js"></script>
    <title> Wedloom | Your Personal Online Wedding Planner </title>
    <meta name="description" content="Wedloom will help guide you through the wedding planning process with its online tools and online consultations with a real wedding planner"> <meta charset="UTF-8">
  </head>

	<body>

      <%= image_tag("couple3.jpg", :width => "100%") %>

      </br>
        <center>
          <h1 class="title1"> Find local wedding vendors that fit your style and budget.</h1>
        </center>
      </br>

    <center><%= button_to 'Learn More', signup_path, :class => 'btn btn-large btn-primary' %></center>

      <!--  <center><h3>Recently engaged? Congrats! Wedloom will help you figure out one of the hardest parts of planning a wedding: the budget. Browse through different options and their estimated price ranges so you can better understand the tradeoffs to stay within your budget.</h3></center> -->
      </br>
      </br>



       <table>
            <thead>
                <th colspan="3"></th>
            </thead>
            <tablebody>

                <tr>
                    <td>
                      <%= image_tag("lightbulb.svg", :width => "20%") %>
                     <h3>Get inspired</h3>
                      <p>Browse pictures to get ideas and create a vision for your dream wedding</p>
                      <%= link_to 'Learn More', inspiration_path %>
                    </td>

                    <td>
                      <center><%= image_tag("moneybag.svg", :width => "20%") %>
                      <h3>Stay within budget</h3>
                      <p>View price information from real weddings to help you figure out what’s within reach</p>
                      <%= link_to 'Learn More', inspiration_path %></center>

                    </td>
                     <td>

                      <center><%= image_tag("pindrop.svg", :width => "20%") %></center>
                      <center><h3>Find local options</h3>
                      <p>Find real venues, photographers, florists, etc. in your area so you can start making it happen</p>
                      <%= link_to 'Learn More', inspiration_path %></center>
                     </td>

              </center>
                </tr>
            </tablebody>
        </table>



        <hr>
        <!-- Crazy Egg Code -->
        <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/0238.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>

</body>

   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38554213-1']);
  _gaq.push(['_setDomainName', 'wedloom.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </html>
