%center
  %h1 Inspiration Board
  %h3 Pick the images that match your ideal wedding and add them to Your Loom.
%hr

%div#container
  - @venues.each do |venue|
    %div{ style: "margin: 5px; width: 300px;"}
      %span.roll
        %center
          %br
          = link_to "Add to Loom", add_path(:id => venue.id), :method => :put, :remote => true, :class => "btn btn-primary btn-large addtoloom"
          %br
          %br
          = link_to "More Info", venue_path(:id => venue.id), :class => "btn btn-primary btn-large"
      = image_tag(venue.image)


  - @elements.each do |element|
    %div{ style: "margin: 5px; width: 300px;"}
      %span.roll
        %center
          %br
          = link_to "Add to Loom", "#", :class => "btn btn-primary btn-large addtoloom"
          %br
          %br
          = link_to "More Info", element_path(:id => element.id), :class => "btn btn-primary btn-large"
      = image_tag(element.image)