%center
  %h1 Inspiration Board
  %h3 Pick the images that match your ideal wedding and add them to your Loom.
  = link_to "Venues", {:controller => "static_pages", :action => "inspiration", :category => "venues"}, :class => "btn btn-primary"
  = link_to "Dresses", {:controller => "static_pages", :action => "inspiration", :category => "dresses"}, :class => "btn btn-primary"
  = link_to "Invitations", {:controller => "static_pages", :action => "inspiration", :category => "invitations"}, :class => "btn btn-primary"
  = link_to "Flowers", {:controller => "static_pages", :action => "inspiration", :category => "flowers"}, :class => "btn btn-primary"
  = link_to "Style", {:controller => "static_pages", :action => "inspiration", :category => "style"}, :class => "btn btn-primary"
%hr

/Modal
#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Added to loom.
  .modal-body
  .modal-footer
    = link_to "View Loom", loom_path, :class => "btn btn-primary"
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

%div#container
  /= render :partial => @dresses

  - @elements.each do |element|
    %div{ style: "margin: 5px; width: 300px;"}
      %span.roll
        %center
          %br
          = link_to "Add to Loom", add_element_path(:id => element.id), :method => :put, :remote => true, "data-toggle" => "modal", 'data-target' => '#myModal', :class => "btn btn-primary btn-large addtoloom"
          %br
          %br
          = link_to "More Info", element_path(:id => element.id), :class => "btn btn-primary btn-large"
      = image_tag(element.image)
%div
  = will_paginate(@elements)

