<center><h1>
  Inspiration Board
</h1>
<h3>Pick the images that match your ideal wedding and add them to Your Loom.</h3></center>
<hr>

<div id="container">
  <% @venues.each do |venue|  %>
    <div style="margin: 5px; width: 300px;">
      <span class="roll" >
        <center>
        </br>
        <%= link_to "Add to Loom", add_path(:id => venue.id), :method => :put, :remote => true, :class => "btn btn-primary btn-large addtoloom" %>
        </center>
      </span>
      <%= image_tag(venue.image) %>
    </div>
  <% end %>



  <% @elements.each do |element|  %>
    <div style="margin: 5px; width: 300px;">
              <h1><%= element.id %></h1>
      <span class="roll" >
        <center>
        </br>
        <%= link_to "Add to Loom", "#", :class => "btn btn-primary btn-large addtoloom" %>
        </center>
      </span>
      <%= image_tag(element.image) %>
    </div>
  <% end %>


</div>