<h1>Listing elements</h1>

<table>
  <tr>
    <th>id</th>
    <th>Category</th>
    <th>Name</th>
    <th>Fixed cost</th>
    <th>Variable cost</th>
    <th>Description</th>
    <th>Image</th>
    <th>Link</th>
    <th>Tier</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @elements.each do |element| %>
  <tr>
    <td><%= element.id %></td>
    <td><%= element.category %></td>
    <td><%= element.name %></td>
    <td><%= element.fixed_cost %></td>
    <td><%= element.variable_cost %></td>
    <td><%= element.description %></td>
    <td><%= element.image %></td>
    <td><%= element.link %></td>
    <td><%= element.tier %></td>
    <td><%= link_to 'Show', element %></td>
    <td><%= link_to 'Edit', edit_element_path(element) %></td>
    <td><%= link_to 'Destroy', element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Element', new_element_path %>
