%center
  %h1 Inspiration Board
  %h3 Build your Loom by adding the images that best match your style.
  / Category choices
  = link_to "All", inspiration_path, :class => "btn btn-primary"
  = link_to "Venues", {:controller => "elements", :action => "inspiration", :category => "venues"}, :class => "btn btn-primary"
  = link_to "Dresses", {:controller => "elements", :action => "inspiration", :category => "dresses"}, :class => "btn btn-primary"
  = link_to "Invitations", {:controller => "elements", :action => "inspiration", :category => "invitations"}, :class => "btn btn-primary"
  = link_to "Flowers", {:controller => "elements", :action => "inspiration", :category => "flowers"}, :class => "btn btn-primary"
  = link_to "Decor", {:controller => "elements", :action => "inspiration", :category => "style"}, :class => "btn btn-primary"
%hr

/"Added to your loom" Bootstrap modal
#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Added to your loom.
  .modal-body
  .modal-footer
    = link_to "View Loom", loom_path, :class => "btn btn-primary"
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

#elements
  = render @elements

= will_paginate @elements