<h1>Listing users</h1>

<table>
  <tr>
    <th>Venue</th>
    <th>Venue price</th>
    <th>Food</th>
    <th>Food price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.venue %></td>
    <td><%= user.venue_price %></td>
    <td><%= user.food %></td>
    <td><%= user.food_price %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to("Get fancier food", user_path(user, "user[food_price]" => "79000"), :remote => "true", :method => :put, :confirm => "Sure?") %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
