%table
    %thead
        %th{:colspan => "3"}
            %h1 
                Your Wedding Loom
    %tablebody
        %tr
            %td 
                = link_to image_tag("barn.jpg"), inspiration_path
            %td 
                = link_to image_tag("spudbar.jpg"), carousel_path(:category => "Food")
            %td 
                = link_to image_tag("Flowers.jpg"), carousel_path(:category => "Flowers")
        %tr
            %td 
                = link_to image_tag("dj.jpg"), carousel_path(:category => "Entertainment")
            %td 
                = link_to image_tag("photographer.jpg"), carousel_path(:category => "Photographer")
            %td 
                = link_to image_tag("wedding_dress.jpg"), carousel_path(:category => "Dress")

              
%hr{:size => "10"}
%center
    %h2 
        Your Estimated Wedding Cost for Chicago: 
        %br/ 
        $
        %span#estprice1
            = @wedding_cost
     
        %table
            %tablebody
                %div
                    %tr
                        %td
                            %h3
                                = @venue.name + " rental:  "
                        %td
                            %h3 
                                $
                                = number_with_delimiter(@venue.rental_cost, :delimiter => ',')
                    %tr 
                        %td
                            %h3 
                                Catering ($
                                = @venue.cost_per_plate
                                per person):
                        %td
                            %h3 
                                $
                                = number_with_delimiter(@venue.cost_per_plate * 150, :delimiter => ',')
                    %tr 
                        %td
                            %h3 
                                Photography:
                        %td
                            %h3 
                                $
                                = number_with_delimiter((@wedding_cost * 0.1).round(0), :delimiter => ',')
                    %tr 
                        %td
                            %h3 
                                Music and Entertainment:
                        %td
                            %h3 
                                $
                                = number_with_delimiter((@wedding_cost * 0.08).round(0), :delimiter => ',')
                    %tr 
                        %td
                            %h3 
                                Wedding attire:
                        %td
                            %h3 
                                $
                                = number_with_delimiter((@wedding_cost * 0.08).round(0), :delimiter => ',')
                    %tr
                        %td
                            %h3 
                                Gratuity:
                        %td
                            %h3 
                                $
                                = number_with_delimiter((@venue_cost * 0.20).round(0), :delimiter => ',')
                    %tr
                        %td
                            %h3 
                                Total Wedding Cost:
                        %td
                            %h3 
                                $
                                = number_with_delimiter(@wedding_cost.round(0), :delimiter => ',')
    %hr
    %p
        %label{:for => 'amount'}
            Number of Guests:
        %p#amount
            %strong
                50
        /%input{:type => 'text', :id => 'amount', :placeholder => '50', :style => "border: 0; text-align: center; color: #f6931f; font-weight: bold;"}
    #slider
    %svg
     
    %h3.budget
        Tips to help save:
        %p
            = @venue.name + "s typically charge higher prices for Saturday nights. Consider having your wedding reception on a Saturday afternoon" 
%hr{:size => "10"}
%p#notice
    = notice






