<center>
<h2>
    Your Estimated Wedding Cost for Chicago: $<%= number_with_delimiter(@wedding_cost.round(0), :delimiter => ',') %>
</h2>

<script type="text/javascript">

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'bar'
            },
            title: {
                text: 'Total Wedding Budget'
            },
            xAxis: {
                categories: ['Budget']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total Wedding Budget'
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
                series: [{
                name: 'Venue',
                data: [<%= @venue_cost %>]
            }, {
                name: 'Photographer',
                data: [3000]
            }, {
                name: 'Catering',
                data: [7000]
            }]
        });
    });
    
});


</script>

<div id="container" style="width:500px; height:300px;"></div>


<!-- <svg id="slider">
    <p id="numguests">
        <span id="amount">50 Guests </span>
    </p>
</svg> -->

</br>
<div><center class="breakdown"
    <h2></h2>
    <table>

        <div>
            <tr>
                <td><h3><%= @venue.name + " rental:  " %></h3></td>
                <td><h3>$ <%= number_with_delimiter(@venue.rental_cost, :delimiter => ',') %></h3></td>
            </tr>
            <tr>
                <td><h3>Food: </h3></td>
                <td><h3>$ <%= number_with_delimiter(@venue.cost_per_plate*150, :delimiter => ',') %></h3></td>
            </tr>
            <tr>
                <td><h3>Music and Entertainment: </h3></td>
                <td><h3>$ <%= number_with_delimiter((@wedding_cost * 0.1).round(0), :delimiter => ',') %></h3></td>
            </tr>
            <tr>
                <td><h3>Wedding Attire: </h3></td>
                <td><h3>$ <%= number_with_delimiter((@wedding_cost * 0.08).round(0), :delimiter => ',') %></h3></td>
            </tr>
            <tr>
                <td><h3>Gratuity: </h3></td>
                <td><h3>$ <%= number_with_delimiter((@venue_cost * 0.20).round(0), :delimiter => ',') %></h3></td>
            </tr>


        </div>
    </table>
</div>

</br>
<%= link_to 'Get Inspiration', inspiration_path, :class => "btn btn-primary btn-large" %>

</center>












