<%= form_for(@planner) do |f| %>
  <% if @planner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planner.errors.count, "error") %> prohibited this planner from being saved:</h2>

      <ul>
      <% @planner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo, "Profile Photo Link" %><br />
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :website, "Website Link" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :image1, "Supporting image #1" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :image2, "Supporting image #2" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :image3, "Supporting image #3" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :image4, "Supporting image #4" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :image5, "Supporting image #5" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :appointlet, "Appointlet Name" %><br />
    <%= f.text_field :appointlet %>
  </div>


  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>