<div class="container">
  <div class="page-header">
    <center><h1>Connect with a <%= image_tag("logo.jpg", :width => "190px") %> planner</h1></center>
  </div>
  <div class="alert alert-info hidden-phone">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span>
          <b>Ready to dive in?</b>&nbsp;Select a planner below and schedule a free 15 minute consultation at a time that works for you.</span>
  </div>
  <p class="lead">At Wedloom we hand-pick each one of our expert planners. Each planner has several years of wedding planning experience across Chicago and can help give you personal recommendations, answer questions, and guide you through this stressful process. </p>
  </br>

<% @planners.each do |planner| %>
<div class="row">
    <div class="span4">
      <%= image_tag planner.photo, :width => "300" %>
    </div>
    <div class="span7 well">
      <h2><%= planner.name %></h2>
      <p class="text-info lead"><%= planner.description %>&nbsp;</p>
        <p><%= link_to "Buy a Package", packages_path, :class => "btn btn-info btn-large" %>
          <%- if customer_signed_in? %>
          <button class="btn btn-action btn-large" data-appointlet="joshjacobson" >Schedule free consultation</button>
          <%- else %>
          <%= link_to "Schedule free consultation", new_customer_session_path, :class => "btn btn-action btn-large" %>
          <%- end %>
        </p>
        <%= image_tag planner.image1 %>
        <%= image_tag planner.image2 %>
        <%= image_tag planner.image3 %>
        <%= image_tag planner.image4 %>
        <%= image_tag planner.image5 %>
    </div>
  </div>

</br>

<script>(function(e,t,n,r){if(e)return;t._appt=true;var i=n.createElement(r),s=n.getElementsByTagName(r)[0];i.async=true;i.src='//dje0x8zlxc38k.cloudfront.net/loaders/s-min.js';s.parentNode.insertBefore(i,s)})(window._appt,window,document,"script")</script>

<% end %>
