%center
	%h1
		=@planner.name
		's Profile
	%hr

	%h4
		= @planner.description

	= image_tag @planner.photo if @planner.photo?
	%br
	%br

	=link_to("Website", @planner.website, :class => "btn btn-large btn-primary", :target => '_blank') if @planner.website?
	%br
	%br
	=link_to 'Edit Profile', edit_planner_path(@planner), :class => "btn btn-primary btn-large"

	%hr
	%h2 My Appointments
	- @appointments.each do |appointment|
		%h4
			Consultation with
			= Customer.find(appointment.customer_id).name
			on
			= appointment.appointment_time.strftime("%B %d, %Y")
			at
			= appointment.appointment_time.strftime("%I:%M %p")