<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :wedding_date %><br />
    <%= f.date_select :wedding_date %>
  </div>
  <div class="field">
    <%= f.label :budget %><br />
    <%= f.number_field :budget %>
  </div>
  <div class="field">
    <%= f.label :number_of_guests %><br />
    <%= f.number_field :number_of_guests %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>