<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :wedding_date %>
    <%= f.date_select :wedding_date %>
  </div>
  <div class="field">
    <%= f.label :budget %>
    <%= f.number_field :budget %>
  </div>
  <div class="field">
    <%= f.label :number_of_guests %>
    <%= f.number_field :number_of_guests %>
  </div>

  <div class="field">
    <%= f.label :wedding_city %>
    <%= f.text_field :wedding_city %>
  </div>

  <div class="field">
    <h4>Which of the following have you already figured out?</h4>
    <%= f.check_box :booked_venue %> Venue</br>
    <%= f.check_box :booked_catering %> Catering</br>
    <%= f.check_box :booked_photographer %> Photographer</br>
    <%= f.check_box :booked_florist %> Flowers</br>
    <%= f.check_box :booked_entertainment %> Entertainment</br>
  </div>

  <div class="field">
    <h4>What are the key things you'd like help with? Provide any other info here that will help your planner get to know you.</h4>
    <%= f.text_area :more_info %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>