<p id="notice"><%= notice %></p>

<center>

<h1>
  <%= @venue.name %>
</h1>

<h3>
  <%= @venue.description %>
</h3>

<!--
<p>
  <b>Supporting images:</b>
  <%= @venue.supporting_images %>
</p>

-->

<p>
  <b>Maximum Capacity:</b>
  <%= number_with_delimiter(@venue.capacity, :delimiter => ',') %>
</p>

<p>
  <b>Rental cost:</b>
  $<%= number_with_delimiter(@venue.rental_cost, :delimiter => ',') %>
</p>

<p>
  <b>Cost per plate:</b>
  $<%= number_with_delimiter(@venue.cost_per_plate, :delimiter => ',') %>
</p>

<p>
  <b>Minimum cost:</b>
  $<%= number_with_delimiter(@venue.minimum, :delimiter => ',') %>
</p>

<!--
<p>
  <b>Tier:</b>
  <%= @venue.tier %>
</p>

-->

<p>
  <b>Tags:</b>
  <%= @venue.tags %>
</p>

<% user = User.find(1) %>
<%= link_to("Add to Loom", user_path(user, "user[venue]" => @venue.id), :class => "btn btn-large btn-primary", :method => :put ) %>
<%= link_to("More Info", @venue.link, :class => "btn btn-large btn-primary", :target => '_blank') if @venue.link != "" %>
</br>
</br>

<%= image_tag(@venue.image) %>

</center>