!!! 5
%html
	%head
		%title Wedloom · The Time of Your Life, Made Simpler
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body
		= image_tag("wedpic.jpg", :id => "background")
		.navbar.navbar-fixed-top
			.navbar-inner#something
				%span.navbar-text#holler1
					Wedloom
				%span.navbar-text.pull-right#holler2
					the time of your life,
					%strong made simpler
		= yield
