<center>

<h1>Your Loom</h1>
<hr>

  <div id="tileContainer">
        <% @venues.each do |venue|  %>
          <div style="margin: 5px; width: 300px;">
            <%= link_to image_tag(venue.image), remove_path(:id => venue) %>
          </div>
        <% end %>
        <% @elements.each do |element|  %>
          <div style="margin: 5px; width: 300px;">
            <%= link_to image_tag(element.image), remove_element_path(:id => element) %>
          </div>
        <% end %>
  </div>

<script type="text/javascript">

    $(document).ready(function() {
      $('#tileContainer').freetile({
        animate: true,
        elementDelay: 30
      });
    });

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'bar'
            },
            title: {
                text: 'Estimated Wedding Cost for Chicago: $<%= number_with_delimiter(@wedding_cost.round(0), :delimiter => ',') %>'
            },
            xAxis: {
                categories: ['']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Based on real data for weddings in Chicago.'
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
                series: [{
                name: 'Gratuity',
                data: [<%= (@venue_cost * 0.2).round(0) %>]
            }, 
            {
                name: 'Wedding Attire',
                data: [<%= (@wedding_cost * 0.1).round(0) %>]
            },
            {
                name: 'Photography',
                data: [<%= (@wedding_cost * 0.09).round(0) %>]
            }, 
            {
                name: 'Music and Entertainment',
                data: [<%= (@wedding_cost * 0.1).round(0) %>]
            },
            {
                name: 'Venue and Catering',
                data: [<%= @venue_cost %>]
            }]
        });
    });
    
});

</script>
</br>
<%= link_to 'Get More Inspiration', inspiration_path, :class => "btn btn-primary btn-large" %>
<%= link_to 'Connect with a Wedloom planner', refine_path, :class => "btn btn-primary btn-large" %>
</br></br>


<div id="container" style="width: 90%;"></div>
</center>
