<center>

  <h1><%= image_tag("logo.jpg", :width => "190px") %> Packages</h1></br>
  </hr>

  <div class="row-fluid">

  <div class="span3">
  <h2>Free 15-minute Consultation</h2>
  <%= link_to 'Schedule a Free Consultation', refine_path, :class => "btn btn-primary" %>
</div>

<div class="span3">
  <h2>Silver Package</h2>
  <h3>One 1-hour consultation</h3>

  <%= form_tag charges_path do %>
    <article>
      <label class="amount">
        <span>Amount: $65.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Wedloom Silver Package"
            data-amount="6500"></script>
  <% end %>
</div>

<div class="span3">

  <h2>Gold Package</h2>
  <h3>Three 1-hour consultations</h3>

  <%= form_tag charges_path do %>
    <article>
      <label class="amount">
        <span>Amount: $180.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Wedloom Gold Package"
            data-amount="18000"></script>
  <% end %>

</div>

<div class="span3">

  <h2>Platinum Package</h2>
  <h3>Three 1-hour consultations</h3>

  <%= form_tag charges_path do %>
    <article>
      <label class="amount">
        <span>Amount: $275.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Wedloom Platinum Package"
            data-amount="27500"></script>
  <% end %>

</div>

</div>

</center>