.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %a.brand{:href => "../"}= image_tag("logo.jpg", :width => "100px")
      .nav-collapse

        %ul.nav.pull-left
          %li= link_to "Inspiration Board", inspiration_path
          %li= link_to "Your Loom", loom_path
          %li= link_to "Connect", refine_path

        %ul.nav.pull-right

          - if customer_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = current_customer.email
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} My Profile
                %li
                  %a{:href => "#"} Account
                %li.divider
                %li= link_to "Sign out", destroy_customer_session_path, :method => :delete
                
          - else
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Sign in
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Login", new_customer_session_path
                %li= link_to "Sign up", new_customer_registration_path