!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:content => "Get help from a local wedding planner at an affordable price. Wedloom will connect you with one of our experts through online video chats to help you plan the wedding of your dreams. ", :name => "Description"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:100,200", :rel => "stylesheet", :type => "text/css"}/
    %title= content_for?(:title) ? yield(:title) : "Wedloom"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38554213-1']);
      _gaq.push(['_setDomainName', 'wedloom.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  %body
    = render 'layouts/navigation'
    = render partial: "layouts/messages", flash: flash
    = yield
    %footer